.Link {
  @include recolor-icon(currentColor);
  appearance: none;
  display: inline;
  padding: 0;
  // display: inline-flex;
  // margin: rem(-2px);
  // padding: rem(2px);
  // border-radius: border-radius();
  background: none;
  color: color('blue');
  font-size: inherit;
  text-align: inherit;
  text-decoration: none;
  outline-color: currentColor;
  cursor: pointer;

  &:hover {
    color: color('blue', 'dark');
  }

  // &:focus {
  //   outline: 1px dashed transparent;
  //   box-shadow: 0 0 0 2px currentColor;
  // }

  &:active {
    color: color('blue', 'dark');
  }
}

.IconLockup {
  display: inline;
  white-space: nowrap;

  &::before {
    content: '\2060';
  }
}

.IconLayout {
  display: inline-flex;

  &::before {
    content: '\2060';
  }
}

// .plainText {
//   display: inline;
//   // margin: 0 (-1 * spacing(extra-tight));
//   padding: 0 spacing(extra-tight);
// }

.monochrome {
  color: inherit;
  @include underlined-link;

  &:hover,
  &:active {
    color: inherit;
  }

  &:focus {
    color: inherit;
  }
}
