.Link {
  @include recolor-icon(currentColor);
  appearance: none;
  display: inline;
  padding: 0;
  background: none;
  color: color('blue');
  font-size: inherit;
  text-align: inherit;
  text-decoration: none;
  outline-color: currentColor;
  cursor: pointer;

  &:hover {
    color: color('blue', 'dark');
  }

  &:active {
    color: color('blue', 'dark');
  }
}

.IconLockup {
  display: inline;
  white-space: nowrap;

  &::before {
    content: '\2060';
  }
}

.IconLayout {
  display: inline-flex;

  &::before {
    content: '\2060';
  }
}

.monochrome {
  color: inherit;
  @include underlined-link;

  &:hover,
  &:active {
    color: inherit;
  }

  &:focus {
    color: inherit;
  }
}
