.Link {
  @include recolor-icon(currentColor);
  appearance: none;
  display: inline-flex;
  text-align: inherit;
  background: none;
  border: none;
  padding: 0;
  // border-radius: border-radius();
  // margin: rem(-1px);
  // padding: rem(1px);
  font-size: inherit;
  color: color('blue');
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: color('blue', 'dark');
  }

  // &:focus {
  //   outline: 1px dashed transparent;
  //   box-shadow: 0 0 0 2px currentColor;
  // }

  &:active {
    color: color('blue', 'dark');
  }
}

.IconLockup {
  display: inline;
  white-space: nowrap;

  &::before {
    content: '\2060';
  }
}

.IconLayout {
  display: inline-flex;

  &::before {
    content: '\2060';
  }
}

.monochrome {
  color: inherit;
  @include underlined-link;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}
